---
layout: profile
title: Profile
navname: profile
permalink: /profile/
custom_css: profile.css
---

<aside>
  <figure class="profile-info">
     <img class="profile-picture" src="{{ "/assets/img/profile.jpg" }}" alt="" /> 
     <figcaption>
       <div><a href="{{ site.url }}">harvey_forero</a></div>
       <div>systems_engineer</div>
       <div>amsterdam_nl</div>
     </figcaption>
  </figure>

  <div class="profile-details">
    <ul>
      <li class="profile-details subtitle">$> contact -l
        <ul>
          <li>- <a href="mailto:harvey.forero@gmail.com">harvey.forero@gmail.com</a></li>
          <li>- <a href="mailto:harvey.forero@gingerpayments.nl">harvey.forero@gingerpayments.nl</a></li>
        </ul>
      </li>
      <li class="profile-details subtitle">$> social -l
        <ul>
          <li>- <a href="https://gitlab.com/harveydf" target="_blank">gitlab.com/harveydf</a></li>
          <li>- <a href="https://github.com/harveydf" target="_blank">github.com/harveydf</a></li>
          <li>- <a href="https://linkedin.com/in/harveydf" target="_blank">linkedin.com/in/harveydf</a></li>
          <li>- <a href="https://twitter.com/harveydf" target="_blank">twitter.com/harveydf</a></li>
        </ul>
      </li>
    </ul>
  </div>
</aside> 

<section>
  <div class="profile-section">
    <h3>$> ./user</h3>
    <p><span>==></span> systems engineer with knowledge in web development and operations.</p>
  </div>

  <div class="profile-section">
    <h3>$> ./skills</h3>
    
    <p><span>==></span> python<br>
      ::: [django, flask, celery, django rest framework]
    </p>
    
    <p><span>==></span> javascript<br>
      ::: [es6, node, react, angular]
    </p>
    
    <p><span>==></span> c++</p>
    
    <p><span>==></span> databases<br>
      ::: [postgresql, mysql, mongo, redis, elasticsearch, dynamodb]
    </p>

    <p><span>==></span> tools<br>
      ::: [docker, git, bash, aws]
    </p>

    <p><span>==></span> os<br>
      ::: [mac, linux, windows]
    </p>
  </div>

  <div class="profile-section">
      <h3>$> ./experience</h3>
      <p>
        <span>==></span> [2017 - undefined]<br>
        ::: software_developer<a href="https://www.gingerpayments.com/" target="_blank">@ginger_payments</a>
      </p>

      <p>
        <span>==></span> [2017 - 2017]<br>
        ::: data_engineer<a href="https://insidetab.io" target="_blank">@tab_uk</a>
      </p>

      <p>
        <span>==></span> [2015 - 2016]<br>
        ::: backend_lead_developer<span>@trulii_sas</span><br>
      </p>

      <p>
        <span>==></span> [2014 - 2015]<br>
        ::: backend_developer<a href="https://miaguila.com" target="_blank">@mi_aguila</a>
      </p>

      <p>
        <span>==></span> [2013 - 2014]<br>
        ::: backend_developer<a href="https://platzi.com" target="_blank">@platzi</a>
      </p>

      <p>
        <span>==></span> [2011 - 2012]<br>
        ::: development_member_senior<a href="http://www.systemico.co/es/index.html" target="_blank">@systemico_technology</a>
      </p>

      <p>
        <span>==></span> [2008 - 2009]<br>
        ::: backend_developer<a href="http://www.gnubila.com/" target="_blank">@gnubila</a>
      </p>
    </div>
</section>
