@charset "utf-8";

// Define defaults for each variable.

$base-font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$base-font-size:   18px !default;
$base-font-weight: 300 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$code-font-family: "Source Code Pro", "Courier New", Courier, "Liberation Mono", monospace;
$code-font-size:   14px;
$code-line-height: 1.8em;

$spacing-unit:     30px !default;

$grey-color:       #333 !default;
$grey-color-light: #444 !default;
$grey-color-dark:  #2b2b2b !default;
$meta-color:       #999 !default;

$text-color:       #ddd !default;
$background-color: $grey-color !default;
$primary-color:    #4FC3F7;
$accent-color:     #fc0;
$brand-color:      $primary-color;
$white-color:      #fff;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}